.content{
    display: flex;
    justify-content: space-between;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15%;
}

.texto p{
    margin-bottom: 30px;
    color: var(--grayish-blue);
}

.texto h2{
    font-size: 34px;
    font-weight: 500;
}

.texto button{
    width: 50%;
    min-width: 120px;
    padding: 15px 30px;
    background-color: var(--soft-blue);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.texto button:hover{
    background-color: var(--branco);
    color: var(--soft-blue);
    padding: 14px 29px;
    border: 1px solid var(--soft-blue);
}

.containerImg{
    position: relative;
}

.backgroundSvg {
    position: absolute;
    transform: rotate(180deg);
    bottom: -20%;
    left: -100%;
    width: 170%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-image: url("assets/images/backgroud.svg");
    
  }

@media (max-width: 768px){
    .content{
        flex-direction: column;
    }
    .texto{
        margin-top: 30px;
        align-items: center;
        text-align: center;
    }

    .texto bottom{
        margin: 0 auto;
    }

    
    
}