.principal{
    display: flex;
    width: 80%; 
    margin: 50px auto;
    justify-content: space-between;
    position: relative;
}

.texto{
    display: flex;
    padding: 20px 96px 90px 0 ;
    flex-direction: column;
    justify-content: space-evenly;
}

.texto h1{
    font-size: 54px;
    font-weight: 500;
}

.texto p{
    color: var(--grayish-blue);
}

.btn{
    width: 45%;
    border-radius: 5px;
    padding: 15px 15px;
    min-width: 135px;
    
    cursor: pointer;
}

.btn1{
    width: 45%;
    color: var(--branco);
    background-color: var(--soft-blue);
    padding: 15px 15px;
    min-width: 135px;
    border: 1px solid var(--soft-blue);
    cursor: pointer;
}

.btn1:hover{
    color: var(--soft-blue);
    background-color: var(--branco);
    
}

.btn2{
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}

.btn2:hover{
    border: 1px solid var(--grayish-blue);
}



.backgroundSvg {
    position: absolute;
    margin-bottom: 0px;
    bottom: 0;
    /* right: 0; */
    right: -12.5%;
    width: 30%;
    height: 60%;
    background-size: cover;
    z-index: -1;
    background-image: url("assets/images/backgroud.svg");
    
  }

  @media (max-width: 768px){

    .principal{
        flex-direction: column-reverse;
        width: 90%; 
    }

    img{
        width: 100%;
    }

    .backgroundSvg {
        right: -5%;
    }

    .principal .texto{
        display: flex;
        padding: 0; 
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .backgroundSvg{
        margin-bottom: 243px;
        bottom: 0;

        width: 90%;
        height: 40%;
    }

    .texto h1{
        font-size: 36px;
        font-weight: 500;
        text-align: center;
    }

    .texto p{
        text-align: center;
    }

    .btn{
        padding: 10px;
    }
}