.head{
    width: 80%; 
    margin: 0 auto 50px auto;
    background-color: var(--branco);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.menuContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    background-color: hsla(229, 31%, 21%, 0.900);
    color: var(--branco);
    padding: 20px;
    z-index: 1;
}

.menuContainerLogo{
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
}

.menuContainerLogo img{
    width: 40%;
}

.menuContainerOptionsLista{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
}

.menuContainerOptionsLista hr{
    width: 100%;
}

.menuContainerOptionsLista li{
    width: 100%;
    text-align: center;
}

.menuContainerOptionsLista button{
    color: var(--branco);
    font-family: var(--rubik);
    letter-spacing: 2px; 
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.menuContainerOptionsLista .menuContainerOptionsListaBtnLogin{
    border: 2px solid var(--branco);
    width: 100%;
    border-radius: 5px;
    margin-top: 8px;
}

.btnMenu{
    background-color: transparent;
    padding: 5px;
    border: none;
}

.menu{
    display: none;
}

.optionsLista{
    display: flex;
    list-style: none;
    
}

.optionsLista button{

    font-family: var(--rubik);
    letter-spacing: 2px; 
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    
}

.listaBtn{
    margin-right: 32px;
    color: var(--very-dark-blue);
    background-color: var(--brnaco);
    padding: 10px;
    border: none;
}

.listaBtn:hover{
    color: var(--soft-red);
}

.listaBtnLogin{
    background-color: var(--soft-red);
    color: var(--branco);
    border-radius: 5px;
    padding: 11px 26px;
    border-width: 0;
}

.listaBtnLogin:hover{
    background-color: var(--branco);
    color: var(--soft-red);
    border-width: 1px;
    padding: 10px 25px;
    border-color:  red;
}


@media (max-width: 768px){

    .head{
        margin: 0 auto;
        padding: 10px 0;
    }
    .options{
        display: none;
        width: 100%
    }

    .menu{
        display: block;
    }

    .redesSociais{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .logoF{
        width: 24px;
        height: 24px;
        margin: 2px 10px;
        background-image: url("assets/images/icon-facebook.svg");
        cursor: pointer;
    }
    
    .logoF:hover{
        background-image: url("assets/images/icon-facebook-fundo-vermelho.svg");
    }
    
    .logoT{
        width: 24px;
        height: 20px;
        margin: 2px 10px;
        background-image: url("assets/images/icon-twitter.svg");
        cursor: pointer;
    }
    
    .logoT:hover{
        background-image: url("assets/images/icon-twitter-fundo-vermelho.svg");
    }
}