.footer{
    width: 100%; 
    margin: 0 auto;
    background-color: var(--very-dark-blue);
    height: 60px;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
}

.contentFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.options{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.optionsLista{
    display: flex;
    list-style: none;
    
}

.optionsLista button{

    font-family: var(--rubik);
    color: var(--branco);
    background-color: transparent;
    border: none;
    letter-spacing: 2px; 
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    
}

.listaBtn:hover{
    color: var(--soft-red);
}

.redesSociais{
    display: flex;
    width: 8%;
    justify-content: space-between;
    align-items: center;
}

.logoF{
    width: 24px;
    height: 24px;
    background-image: url("assets/images/icon-facebook.svg");
    cursor: pointer;
}

.logoF:hover{
    background-image: url("assets/images/icon-facebook-fundo-vermelho.svg");
}

.logoT{
    width: 24px;
    height: 20px;
    background-image: url("assets/images/icon-twitter.svg");
    cursor: pointer;
}

.logoT:hover{
    background-image: url("assets/images/icon-twitter-fundo-vermelho.svg");
}

@media (max-width: 768px){

    .footer{
        height: auto;
    }

    .contentFooter{
        margin: 30px 0;
        flex-direction: column;
    }

    .options{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
       
    }

    .optionsLista{
        flex-direction: column;
        justify-content: center;
        padding: 0;
        
    }

    .optionsLista li{
        margin-top: 10px;
    }

    .redesSociais{
        margin-top: 10px;
        width: auto;
    }

    .logoF{
        margin-right: 20px;
    }
}