@font-face {
  font-family: 'Rubik';
  src: url('assets/fonts/Rubik-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'RubikMedium';
  src: url('assets/fonts/Rubik-Medium.ttf') format('ttf');
  font-weight: 500;
}

:root{
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
  --branco: hsl(0, 0%, 100%);
  --preton:hsl(232, 30%, 20%);
  --rubik: 'Rubik';
  --rubik-medium: 'RubikMedium';
}

body {
  font-family: var(--rubik);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
